<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>



	<form role="form" id="createAccountForm" action="/insert" method="POST">

		<div class="form-group" id="gender">

			<label class="radio-inline"><input type="radio" name="optradio" value="Hourly">Hourly</label>

      <label class="radio-inline"><input type="radio" name="optradio" value="Daily">Daily</label>

     <label class="radio-inline"><input type="radio" name="optradio" value="Weekly">Weekly</label>

		</div>

	<input type="submit" name="submit" value="Add"/>


	</form>	
	   

	
</body>
</html>