<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>



	<form role="form" id="createAccountForm" action="/insert_preference" method="POST">

		
		<div class="checkbox">
           <input id="checkbox1" class="styled" type="checkbox" name="funds" value="Funds">
           <label for="checkbox1">
             &nbsp;  Funds
           </label>
         </div>
         <div class="checkbox ">
           <input id="checkbox2" class="styled" type="checkbox" name="equityShares" value="Equity Shares">
           <label for="checkbox2">
           &nbsp;  Equity Shares
           </label>
         </div>
         <div class="checkbox ">
           <input id="checkbox3" class="styled" type="checkbox" name="goldETF" value="Gold ETF">
           <label for="checkbox3">
           &nbsp;  Gold ETF
           </label>
         </div>
         <div class="checkbox ">
           <input id="checkbox4" class="styled" type="checkbox" name="bonds" value="Bonds">
           <label for="checkbox4">
           &nbsp;  Bonds
           </label>
         </div>
         <div class="checkbox ">
           <input id="checkbox5" type="checkbox" class="styled" name="stocks" value="Stocks">
           <label for="checkbox5">
           &nbsp;  Stocks
           </label>
         </div>
         <div class="checkbox ">
           <input id="checkbox6" type="checkbox" class="styled" name="commercialRealEstate" value="Commercial Real Estate">
           <label for="checkbox6">
           &nbsp;  Commercial Real Estate
           </label>
         </div>

	<input type="submit" name="submit" value="Add"/>


	</form>	
	   

	
</body>
</html>